@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the video game shop</h1>
    <p>This site build using .NET Core and SQL Server </p>
</div>
